:root {
  --word-length: 6;
  --guesses: 7;

  --color-black: #121212;
  --color-white: #f2f2f2;

  --color-correct: green;
  --color-almost: goldenrod;
  --color-wrong: gray;

  --z-index-overlay: 2;
  --z-index-notification: 3;

  --gap-gameboard: 4px;

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: var(--color-black);
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 4px;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;

    img {
      width: 30px;
    }
  }
}

#grid {
  display: grid;
  grid-template-rows: repeat(var(--guesses), 1fr);
  aspect-ratio: var(--word-length) / var(--guesses);
  width: 320px;
  gap: var(--gap-gameboard);
  padding: var(--gap-gameboard);
  margin: 0 auto 1.5rem;

  .row {
    display: grid;
    grid-template-columns: repeat(var(--word-length), 1fr);
    gap: var(--gap-gameboard);

    .box {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      font-size: 1.75rem;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      align-content: center;
      transition: all 0.3s ease;
    }
    .box.wrong,
    .box.almost,
    .box.correct {
      color: var(--color-white);
    }

    .box.wrong {
      background-color: var(--color-wrong);
    }
    .box.almost {
      background-color: var(--color-almost);
    }
    .box.correct {
      background-color: var(--color-correct);
    }
    .box.pop {
      animation: popIn 0.15s ease-in-out forwards;
    }

    .box.shake {
      animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }

    .box.flip {
      animation: flip 0.5s ease forwards;
    }
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  60% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

#keyboard-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .keyboard-row {
    display: flex;
  }

  .letter {
    cursor: pointer;
    aspect-ratio: 3 / 5;
    width: 2rem;
    margin: 2px 1px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }

  .letter.wrong,
  .letter.almost,
  .letter.correct {
    color: white;
  }

  .letter.wrong {
    background-color: gray;
  }
  .letter.almost {
    background-color: goldenrod;
  }
  .letter.correct {
    background-color: green;
  }
  .enter-key {
    width: 4.5rem;
    aspect-ratio: 3 / 2;
  }
}

@media (max-width: 360px) {
  #keyboard-container {
    .letter {
      font-size: 0.875rem;
      margin: 1px;
    }

    .enter-key {
      width: 3.2rem;
    }
  }
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-overlay);
}

.replay-button {
  display: block;
  cursor: pointer;
  margin: 2rem auto 0;
  padding: 0.5em 1em;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.notification {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 0.625rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  opacity: 0;
  transition: top 0.3s ease-out, opacity 0.3s ease-out;
  z-index: var(--z-index-notification);

  &.show {
    top: 20px;
    opacity: 1;
  }
}

#modal {
  margin: auto;
  max-width: 520px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #close-modal {
    float: inline-end;
    margin-left: 1rem;
    padding: 0.5em 0.75rem;
  }

  .modal-content {
    padding: 1rem 1.5rem;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  p,
  ul {
    margin-bottom: 1rem;

    em {
      font-weight: bold;
    }
  }

  a {
    color: blue;
    text-decoration: underline;
  }
}
